<!doctype html>
<html lang="en">

{% load static %}

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="stylesheet" href="{% static 'profiles/self_profile.css' %}">

  <title>{{ player_info.0 }}</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #ff5454;">
    <a class="navbar-brand" href="{% url 'feed_detail' %}">
      <img src="{% static 'profiles/quizup1.png' %}" width="96" height="30" class="d-inline-block align-top" alt="" loading="lazy">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'feed_detail' %}">Home</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'my_profile_detail' player_in_session %}">Profile</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Topics<span class="sr-only">(current)</span>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% for topic in topics %}
                <a class="dropdown-item" href="{% url "topic_detail" topic.0%}">{{ topic.1 }}</a>
            {% endfor %}
          </div>
        </li>
      </ul>
      <ul class="navbar-nav navbar-right">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
        </li>
      </ul>
    </div>
  </nav>






  <div class="sidebar">

    <div class="sidebar_top">

        {% if player_in_session == player_name %}
          <form action="" id="dp_form" method="post" enctype="multipart/form-data">
              {% csrf_token %}
            <!--input type="button" id="dp_button" value="Update Image" class="btn btn-dark btn-sm"  onclick="fileclick()"
              style="float: right; margin-top: 8px; margin-right: 8px; background-color: #262626; border: transparent; font-weight: bold;"-->

              <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-camera-fill" fill="#ff5454"
                                xmlns="http://www.w3.org/2000/svg" onclick="fileclick()" style="float: right; margin-top: 8px; margin-right: 8px; cursor: pointer">
                                <path d="M10.5 8.5a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                                <path fill-rule="evenodd" d="M2 4a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-1.172a2
                                2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 9.172 2H6.828a2 2 0 0 0-1.414.586l-.828.828A2 2 0 0 1 3.172 4H2zm.5
                                 2a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1zm9 2.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0z"/>
              <title>Change Profile Picture</title>
                    </svg>
            <input type="file" id="dp_file" name="dp_file"  accept="image/*"  hidden>
        {% endif %}

      </form>

        <script>

        </script>

      <div style="width: 480px; height: fit-content;">

        <img src="{% get_media_prefix  %}{{ player_info.2 }} " alt="" height="128px" width="128px"
          style="border-radius: 50%; margin-top: 44px; margin-left: 38px;" id="sidebar_dp">

      </div>

      <div class="username_followbtn" style=" height:120px;padding: 18px 18px 18px 30px;">
        <div style="float: left; width: 270px; height: fit-content">
        <p style="font-weight: 400; color: white; font-size: xx-large;margin-bottom: 0;
           font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
            {{ player_info.4 }}</p>

        </div>
        {% if player_in_session != player_name %}
            <form action="" style="float: right; padding-top: 8px;">
            {% csrf_token %}
                <input type="button" id = "follow_btn" class="btn btn-success " value="{{ is_follow }}">
            </form>
        {% endif %}
      </div>

    </div>

    <div class="user_info">
      <div class="games_played">
        Games <br>

        <span style="font-size: larger;font-weight: 600; color: #ff5454;">{{ games }}</span>

      </div>

      <div class="follower_info">
        Followers <br>
        <p style="margin: 0; font-size: larger; font-weight: 600; color: #02d174; cursor: pointer;"
          onclick="unhide(follower_list)" class="dropbtn"> {{ followers }} </p>
        <div id="follower_list" class="dropdown-content">
          <!-- LOOP -->
        {% for follower in follower_info %}
            {% if follower.1 != '-' %}
              <img src="{% get_media_prefix %}{{ follower.1 }}" alt="" height="32px" width="32px" style="border-radius: 50%;">
              <a href="{% url 'my_profile_detail' follower.0  %}" style="color: #ff5454; padding-left: 12px;"> {{ follower.0 }} </a>
              <hr style="margin: 8px 12px 8px 0px;">
            {% endif %}
        {% endfor %}
        </div>


      </div>

      <div class="following_info">
        Following <br>
        <p style="margin: 0; font-size: larger; font-weight: 600; color: #00b5d9; cursor: pointer;"
          onclick="unhide(following_list)" class="dropbtn">{{ followees }}</p>
        <div id="following_list" class="dropdown-content">
          <!-- LOOP -->
        {% for followee in followee_info %}
            {% if followee.1 != '-'%}
                  <img src="{% get_media_prefix %}{{ followee.1 }}" alt="" height="32px" width="32px" style="border-radius: 50%;">
                  <a href="{% url 'my_profile_detail' followee.0 %}" style="color: #ff5454; padding-left: 12px;"> {{ followee.0 }}</a>
                  <hr style="margin: 8px 12px 8px 0px;">
            {% endif %}
        {% endfor %}
        </div>
      </div>



    </div>

    <!--PLAYER RANK-->
    <div class="player_rank">
      
      <span style="font-size: 30px ; font-weight: bold; color: #ff5454; ">Player Rank</span>
      
      <span style="border-radius: 10%; background-color: #ff5454; 
      font-size: 30px ; font-weight: 500; color:white; float: right; padding-left: 10px; padding-right: 12px;"> {{ rank }}</span>

    </div>

    <!-- TOPICS -->

    <div class="topics">

       <span style="font-size: 30px ; font-weight: bold; color: #ff5454;"> Followed Topics</span>
       <span style="font-size: 30px ; font-weight: 500; color: #ff5454; float: right; padding-right: 12px;"> Level</span>
      <hr style="margin: 8px 12px 8px 0px;">

      <!-- LOOP -->

            <div class="list-of-topics">

        {% for topic in followed_topics %}
            {% if topic.0 != 'None' %}
                <img id = "topic_img" src="{% static topic.2 %}" alt="" height="40" width="40px" style="border-radius: 2mm;">

                <span>
                  <a href="{% url 'topic_detail' topic.3 %}">{{ topic.0 }}</a>
                </span>

                <span style="font-size: 24px ; font-weight: 500; color: #2451aa; float: right; padding-right: 12px;">
                  {{ topic.1 }}
                </span>

                <hr style="margin: 8px 12px 8px 0px;">
            {% endif %}
        {% endfor %}

      </div>

    </div>

    <div class="about">
      <span style="font-size: 28px ; font-weight: 650; color: #ff5454;"> About</span>
      
      <hr style="margin: 8px 12px 8px 0px;">
      
      <span style="font-size: 20px ; font-weight: 400; ">
        <i class="fa fa-envelope" style="font-size:24px; color: #ff5454" title="Email"></i> </span>
      <span style="font-size: 18px ; font-weight: 400; float: right; padding-right: 14px;"> {{ player_info.1}} </span>
      
      <hr style="margin: 8px 12px 8px 0px;">

      
      <span style="font-size: 20px ; font-weight: 400; "> Age </span>
      <span style="font-size: 18px ; font-weight: 500; float: right; padding-right: 14px;"> {{ player_info.3 }} </span>

    </div>

  </div>

  
    <!-- MY POSTS -->


    {% for post in all_posts_list %}
        <div class="view_post">
            <div class="post_info" style="margin: 15px 15px; height: 80px;">

                <div class="post_dp">
                  <img src="{% get_media_prefix %}{{ player_info.2 }}" alt="" height="48px" width="48px"
                  style="border-radius: 50%; float: left; margin: 12px 12px; ">
                </div>

                <div class="post_username">
                    <a href="{% url 'my_profile_detail' player_name %}" style="color: black;"> {{ player_info.0}} </a>
                </div>
                <div>
                    <p style="color: grey; font-size: 14px;">
                        {{ post.2}}
                    </p>
                </div>

             </div>
            <p class ="post_txt">
                {{ post.0 }} <br>
                 {% if post.6 is not None %}
                    {% for tag in post.6 %}
                        <b style="font-size: 20px;padding-bottom: 4px; color: #ff5454">#{{ tag }} </b>
                    {% endfor %}
                {% endif %}
            </p>
            {% if post.1 != None %}
                <div class="show_img">
                     <img src="{% get_media_prefix %}{{ post.1 }}" alt=" " style = "max-height: 530px; width: 578px;"  id="img_post" onerror="remove()">
                </div>
            {% endif %}

            <hr style="margin: 16px 16px 16px;">

            <div class="post_react" style="margin: 16px 16px; height: 42px;">

                <form style="width: fit-content; float: left;">{% csrf_token %}

                    <input type="button" class="btn btn-danger btn-small" id="btn_like{{ post.3 }}"  value={{ post.7 }} post_id= {{ post.3 }} >
                </form>
              <b>&nbsp</b>

              <a href="{% url 'post_detail' post.3 %}">
              <button class="btn btn-danger btn-small" id="btn_comment" >Comment</button>
              </a>

                  <div class="react_count" style="float: right;">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-heart-fill" fill="red" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                    </svg>

                    <b id="like_count{{ post.3 }}"> {{ post.4 }} </b>

                    <b>&nbsp</b>

                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chat-dots-fill" fill="red" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" d="M16 8c0 3.866-3.582 7-8 7a9.06 9.06 0 0 1-2.347-.306c-.584.296-1.925.864-4.181 1.234-.2.032-.352-.176-.273-.362.354-.836.674-1.95.77-2.966C.744
                      11.37 0 9.76 0 8c0-3.866 3.582-7 8-7s8 3.134 8 7zM5 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                    </svg>

                    <b id="comment_count"> {{ post.5 }} </b>
                  </div>
            </div>
        </div>
    {% endfor %}

    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

  <script>
    function fileclick() {
      document.getElementById("dp_file").click();
    }

    /*function submitForm() {
        document.getElementById('formid').submit();
        console.log("Foprm submit");
    }

    var dp = document.getElementById('dp_change');
    if(dp){
    dp.addEventListener("change", submitForm);
    }*/

    function unhide(id) {
      var list = id;
      if (list.style.display != "block"){
        list.style.display = "block";

      }
      else {

        //console.log(follower_list.style.display);
        list.style.display = "none";
      }

    }

    // Lists go away if clicked anywhere else in the window
    window.onclick = function (event) {
      if (!event.target.matches('.dropbtn')) {
        var dropdowns = document.getElementsByClassName("dropdown-content");
        var i;
        for (i = 0; i < dropdowns.length; i++) {
          var openDropdown = dropdowns[i];
          if (openDropdown.style.display == 'block') {
            openDropdown.style.display = 'none';
          }
        }
      }
    }
    if(document.getElementById("dp_file") != null) {
        document.getElementById("dp_file").onchange = function () {
            console.log('Hello');
            document.getElementById("dp_form").submit();
        }
    }

    function remove(){
          console.log("In Image click");

          document.getElementById("img_post").style.display = 'none';
        }


    {% if player_in_session != player_name %}
        $('#follow_btn').mouseenter(function () {
            var btn = document.getElementById("follow_btn");
               if (btn.value == "Following"){
                   btn.value = "Unfollow";
               }

        });
        $('#follow_btn').mouseleave(function () {
                var btn = document.getElementById("follow_btn");
               if (btn.value == "Unfollow"){
                   btn.value = "Following";
               }

        });

    {% endif %}

        {% for post in all_posts_list %}
            $('#btn_like{{ post.3 }}').click(function () {

                var is_liked = $(this).val();
                var post_id = $(this).attr("post_id");
                var like_count = $('#like_count{{ post.3 }}').html();
                console.log(like_count);

                console.log("post id is: " + post_id);

                $.ajax({
                    type: 'POST',
                    url: '{% url 'update_like' %}',
                    data: {
                        'post_id': post_id,
                        'is_liked': is_liked,
                        'like_count': like_count,
                        'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
                    },
                    dataType: 'json',
                    success: function (response) {
                        $('#btn_like{{ post.3 }}').val(response['is_liked']);
                        $('#like_count{{ post.3 }}').html(response['like_count'])

                    },
                    error: function (response) {
                    }
                });
            });

            $('#btn_like{{ post.3 }}').mouseenter(function () {
            var btn = document.getElementById("btn_like{{ post.3 }}");
               if (btn.value == "Liked"){
                   btn.value = "Dislike";
               }

             });

            $('#btn_like{{ post.3 }}').mouseleave(function () {
                    var btn = document.getElementById("btn_like{{ post.3 }}");
                   if (btn.value == "Dislike"){
                       btn.value = "Liked";
                   }

            });



        {% endfor %}


        $('#follow_btn').click(function () {
            var is_follow = $(this).val();
            $.ajax({
                type: 'POST',
                url: '{% url 'update_player_follow' %}',
                data: {
                    'followee_id': {{ player_id }},
                    'is_follow': is_follow,
                    'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
                },
                dataType: 'json',
                success: function (response) {
                    $('#follow_btn').val(response['is_follow']);
                },
                error: function (response) {
                }
            });
        });

  </script>

{% if error %}
    <p style="float: right"> {{ error }}</p>
{% endif %}
</body>

</html>