<!doctype html>
<html lang="en">
{% load static %}
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'topic/topic.css' %}">
    <title>{{ topic.1 }}</title>
  </head>
  <body style="padding: 70px 30px;">
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: #ff5454;">
      <a class="navbar-brand" href="{% url 'feed_detail' %}">
        <img src="{% static 'topic/quizup1.png' %}" width="96" height="30" class="d-inline-block align-top" alt="" loading="lazy">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'feed_detail' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'my_profile_detail' player_info.0 %}">Profile</a>
          </li>
          <li class="nav-item dropdown active">
            <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Topics<span class="sr-only">(current)</span>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% for topic in topics %}
                <a class="dropdown-item" href="{% url "topic_detail" topic.0%}">{{ topic.1 }}</a>
            {% endfor %}
            </div>
          </li>
        </ul>
        <ul class="navbar-nav navbar-right">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-3">
          <div style="background-color: white;  box-shadow: -4px 4px 3px grey;">
              <img src="{% static topic.3 %}" class="img-fluid">
          <h3 style="padding: 8px 0px 0px 55px;"><img src="{% static topic.2 %}" class="mt-1 mr-3 rounded" width="50" height="50">{{topic.1}}</h3>
          <form class="text-center">{% csrf_token %}
                <input type="button" class="btn btn-success btn-sm" id="follow"  value={{ is_follow }} />
          </form>
          <table class="table mt-2">
            <tbody>
              <tr class="text-center">
                <td><h6>Followers</h6> <h4>{{ num_of_followers }}</h4></td>
                <td><h6>Your Rank</h6> <h4>{{ rank }}</h4></td>
                <td><h6>Quiz Completed</h6> <h4>{{ quiz_completed }}/{{ total_quiz }}</h4></td>
              </tr>
            </tbody>
          </table>
        </div>
          <h5 class="text-center mt-3">Quiz List</h5>
          <table class="table table-striped" style="background-color:white; color:black;  box-shadow: -4px 4px 3px grey;">
            <tbody>
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Title</th>
                  <th scope="col">Difficulty</th>
                  <th scope="col">#Played</th>
                </tr>
              </thead>
              {% for quiz in quiz_list %}
                  <tr>
                    <td><a href="{% url 'quiz_detail' quiz.0 %}" style="color:green;">{{ quiz.3 }}</a></td>
                      {% if quiz.4 == None %}
                          <td>-</td>
                      {% else %}
                          <td>{{ quiz.4 }}</td>
                      {% endif %}
                    <td>-</td>
                  </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="col-lg order-last">
          <h5 class="text-center">Leaderboard</h5>
          <table class="table table-striped" style="background-color:white; color:black;  box-shadow: -4px 4px 3px grey;">
            <tbody>
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Rank</th>
                  <th scope="col">Username</th>
                  <th scope="col">Score{{ t }}</th>
                </tr>
              </thead>
              <tr>
                <td>1</td>
                <td><a href="" style= "color: black;"> Alex</a> </td>
                <td>100</td>
              </tr>
            </tbody>
          </table>
      </div>
      <div class="col-lg-5">
      </div>
    </div>
  </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script>
        $('#follow').click(function () {
            var is_follow = $(this).val();
            $.ajax({
                type: 'POST',
                url: '{% url 'update_follow' %}',
                data: {
                    'topic_id': {{ topic.0 }},
                    'is_follow': is_follow,
                    'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
                },
                dataType: 'json',
                success: function (response) {
                    $('#follow').val(response['is_follow']);
                },
                error: function (response) {
                }
            });
        });

        $('#follow').mouseenter(function () {
            var btn = document.getElementById("follow");
               if (btn.value == "Following"){
                   btn.value = "Unfollow";
               }

        });
        $('#follow').mouseleave(function () {
                var btn = document.getElementById("follow");
               if (btn.value == "Unfollow"){
                   btn.value = "Following";
               }

        });
    </script>
  </body>
</html>
