<!doctype html>
<html lang="en">
{% load static %}
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="../../static/quiz/quiz.css">

    <title>{{ quiz.3 }}</title>
  </head>

  <body>
    <div class="container">
      <h3 id="timer" class="border"></h3>
      <h1 class="text-center mb-5">{{ quiz.3 }}</h1>
      <form action="{% url 'quiz_detail' quiz.0%}">
          {% for question in questions %}
              <fieldset class="form-group">
                <legend>{{ forloop.counter }}. {{ question.2 }}</legend>
                  <div class="form-check form-check-inline"> <!--option 1-->
                    <input class="form-check-input" type="radio" name="q1" id="q11" value="{{ question.3 }}">
                    <label class="form-check-label" for="q11">{{ question.3 }}</label>
                  </div>
                  <div class="form-check form-check-inline"> <!--option 2-->
                    <input class="form-check-input" type="radio" name="q1" id="q12" value="{{ question.4 }}">
                    <label class="form-check-label" for="q12">{{ question.4 }}</label>
                  </div>
                    <div class="form-check form-check-inline"> <!--option 3-->
                    <input class="form-check-input" type="radio" name="q1" id="q12" value="{{ question.5 }}">
                    <label class="form-check-label" for="q12">{{ question.5 }}</label>
                  </div>
                    <div class="form-check form-check-inline"> <!--option 4-->
                    <input class="form-check-input" type="radio" name="q1" id="q12" value="{{ question.6 }}">
                    <label class="form-check-label" for="q12">{{ question.6 }}</label>
                  </div>
              </fieldset>
          {% endfor %}
      <button class="btn btn-primary" onclick="showPrompt()">Submit</button>
    </form>

    </div>

    <script src="http://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="../../static/quiz/quiz.js"></script>
  </body>
</html>
