body{
    /* background-color: rgb(187, 214, 221); */background-color: #eeeeee;
    max-height: 100%;
}

.Feed{
    margin: 40px 120px ;
}

.sidebar{

    
    float: left;
    width: 440px;
    /*position: fixed;*/
}

.mini-profile{
    padding: 25px 25px 36px 25px;
    background-image: url("bg.png");
    background-size: cover;
    box-shadow: -4px 4px 3px grey;
}

#dp{
    float: left;
    border-radius: 50%;
  
}

 #user{
     font-size: xx-large; font-weight: bold;
     padding-left: 25px;
     color: white;

} 

.followinf{
    background-color: white;    
    height: 96px;
    box-shadow: -4px 4px 3px grey;  
    
}
 .follower_info, .following_info{
    height:96px;
    width: 50%; text-align: center; 
    padding-top: 8px; padding-bottom: 8px;
    font-size: 24px; color: #262626;
    border: 1px solid ;border-color: #b3b3b3; border-right: transparent;
    float: left;
}
.dropdown-content{

    position: absolute;  /* comes on top of background element */
    min-width: 240px; background-color: white;
    max-height: 200px;
    overflow: scroll;
    border:1px solid #b3b3b3; 
    margin-top: 10px; 
    text-align: left; 
    padding-left: 10px;padding-top: 10px; 
    display: none; 
    box-shadow: -4px 4px 3px grey;

}

.followed_topics{

    margin: 30px 0px;
    padding: 10px;
    background-color: white;
    box-shadow: -4px 4px 3px grey; 
    overflow: hidden;

}

.topic_detail{
    float: left;
    width: 25%;
    padding: 10px 12px;
    text-align: center;
}

.news{
    margin-left: 440px;
    padding-left: 40px;
}

.view_post{
    background-color: white;
    margin-top: 32px ;
    width: 580px;
    border-style: solid;
    border-width: thin;
    border-color: transparent;
}


.post_username{
     
    font-size: large;font-weight: bold;
    padding-top: 18px;
    padding-left: 32px; 
}

.post_txt{

    padding: 0px 16px;
    margin-bottom: 12px;
    font-weight: 400; 
    font-size: 16px; 
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
     Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

