<html>
{% load static %}
    <head>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
        rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
       
        <link rel="stylesheet" href="{% static "signup/demosignup.css" %}">
        <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
         -->
        <title>
            Sign Up
        </title>
    
    </head>

    <body class="text-center" id="bd">
        <h1 id="quizup">
            QUIZUP
        </h1>

        <img src="{% static "signup/quizup.png" %}" alt="img error">

        <div class="container">
                      
            <form class="form-signin" method="post">
                {% csrf_token %}
                <div class="form-group">
                    
                    <h2>
                        Sign Up
                    </h2>
                    
                    <input id="inputUser" name="username" type="text" placeholder = "Username" class="form-control"  required> <br>

                    <input id="inputName" name="fullname" type="text" placeholder = "Full Name" class="form-control"  required> <br>

                   
                    <input type="date" name="dob" id="Birth" class = "form-control" required> <br>
                                     
                    <input id="email" type="email" name="email" placeholder = "Email" class="form-control"  required> <br>
                   
                        
                    <input id = "passwordinp" name="password1" type="password" class="form-control"  placeholder="Password" required> <br>
                  
                    <input id = "re-passwordinp" name="password2" type="password" class="form-control"  placeholder="Re-type Password" required> <br>
                    
                
                <button type="submit" class="btn btn-danger" id="signupbtn">Sign Up</button>

                <p id = "login" >Have an account? <a href="{% url 'login' %}">Log In</a> </p>
                
            </div>   
            
            </form>

        </div>

    </body>

</html>