img{
    width: 100px;
    height: 100px;
}

.img{
    padding-top: 30px;
    margin-left: 485px;
}

body{
    background-color:rgba(224, 62, 62, 0.9);

    /*background-color: rgb(36, 125, 219);*/

}

.setterHead{
}

.container{
    width: 100%;
    padding: 15px;
    margin: auto;
    color: white;

}

.form-signin{
    max-width: 330px;
    margin: auto;
    padding: 15px;

}

#login{
    margin-left: 85px;
}


#loginbtn1{
    background-color: rgba(224, 62, 62, 0.98);
    /*background-color: rgb(4, 64, 133);*/
    border-color: rgba(224, 62, 62, 0.98);

    /*border-color: rgb(36, 125, 219);*/
    width: 100%;
    
}
#loginbtn1:hover{
    background-color: rgba(192, 55, 55, 0.98);
    /*background-color: rgb(4, 44, 88);*/
}