<!doctype html>
<html lang="en">
{% load static %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'topic/topic.css' %}">
    <title>{% if quiz is None %}Create Quiz{% else %}Edit Quiz{% endif %}</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: #7c818a;">
      <a class="navbar-brand" href="#">
        <img src="{% static 'master/quizup-admin.png' %}" width="96" height="38" class="d-inline-block align-top" alt="" loading="lazy">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'master_profile' curr_name %}">My Profile<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'create_quiz' %}">Create Quiz</a>
          </li>
            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Other Quizmasters
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                {% for master in masters %}
              <a class="dropdown-item" href="{% url 'master_profile' master.1%}">{{ master.1 }}</a>
                {% endfor %}
            </div>
          </li>
        </ul>
        <ul class="navbar-nav navbar-right">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container">
        <form method="post">{% csrf_token %}
            <div class="form-group"><label for="title">Quiz Title</label>
            <input type="text" class="form-control" id="title" name="title"
            {% if quiz is not None %} value="{{ quiz.3 }}" {% endif %}required>
          </div>
            <div class="form-group"><label for="topic">Topic</label>
            <select class="form-control" id="topic" name="topic"
                    required>
                {% for topic in topics %}
                    <option{% if topic_name is not None and topic_name == topic.1 %} selected {% endif %}>
                        {{ topic.1 }}</option>
                {% endfor %}
            </select>
          </div><br>
            {% if questions is not None %} <!-- Edit Mode -->
                {% for question in questions %}
                    <div class="form-group"><label for="q{{ question.0 }}">Question {{forloop.counter}}</label>
                    <input type="text" class="form-control" id="q{{ question.0 }}" name="q{{ question.0 }}" value="{{ question.2 }}" required>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-lg-3">
                      <input type="text" class="form-control" id="o{{ question.0 }}1" name="o{{ question.0 }}1" placeholder="Option 1" value="{{ question.3 }}" required>
                    </div>
                    <div class="form-group col-lg-3">
                      <input type="text" class="form-control" id="o{{ question.0 }}2" name="o{{ question.0 }}2" placeholder="Option 2" value="{{ question.4 }}" required>
                    </div>
                    <div class="form-group col-lg-3">
                      <input type="text" class="form-control" id="o{{ question.0 }}3" name="o{{ question.0 }}3" placeholder="Option 3" value="{{ question.5 }}" required>
                    </div>
                    <div class="form-group col-lg">
                      <input type="text" class="form-control" id="o{{ question.0 }}4" name="o{{ question.0 }}4" placeholder="Option 4" value="{{ question.6 }}" required>
                    </div>
                  </div>
                    <div class="form-group col-lg-3"><label for="a{{ question.0 }}">Answer</label>
                        <select class="form-control" id="a{{ question.0 }}" name="a{{ question.0 }}" required>
                            <option {% if question.7 == question.3 %} selected {% endif %}>1</option>
                            <option {% if question.7 == question.4 %} selected {% endif %}>2</option>
                            <option {% if question.7 == question.5 %} selected {% endif %}>3</option>
                            <option {% if question.7 == question.6 %} selected {% endif %}>4</option>
                        </select>
                      </div>
                    <br>
                {% endfor %}
            {% else %} <!-- Create Mode -->
                {% for i in '0123456789'|make_list %}
                    <div class="form-group"><label for="q{{forloop.counter}}">Question {{forloop.counter}}</label>
                    <input type="text" class="form-control" id="q{{forloop.counter}}" name="q{{forloop.counter}}" required>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-lg-3">
                      <input type="text" class="form-control" id="o{{forloop.counter}}1" name="o{{forloop.counter}}1" placeholder="Option 1" required>
                    </div>
                    <div class="form-group col-lg-3">
                      <input type="text" class="form-control" id="o{{forloop.counter}}2" name="o{{forloop.counter}}2" placeholder="Option 2" required>
                    </div>
                    <div class="form-group col-lg-3">
                      <input type="text" class="form-control" id="o{{forloop.counter}}3" name="o{{forloop.counter}}3" placeholder="Option 3" required>
                    </div>
                    <div class="form-group col-lg">
                      <input type="text" class="form-control" id="o{{forloop.counter}}4" name="o{{forloop.counter}}4" placeholder="Option 4" required>
                    </div>
                  </div>
                    <div class="form-group col-lg-3"><label for="a{{forloop.counter}}">Answer</label>
                        <select class="form-control" id="a{{forloop.counter}}" name="a{{forloop.counter}}" required>
                                <option>1</option><option>2</option><option>3</option><option>4</option>
                        </select>
                      </div>
                    <br>
                {% endfor %}
            {% endif %}
        </form>
        <button class="btn btn-primary">
            {% if quiz is None %} Create! {% else %} Edit {% endif %}</button>
  </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script>
        $('button').click(function(e) {
            $.ajax({
                type: 'GET',
                url: '{% url 'check_quiz_title' %}',
                data: {
                    'title': $('#title').val(),
                    'prevTitle': '{{ quiz.3 }}'
                },
                dataType: 'json',
                success: function (response) {
                    if(response['is_exist'] === 0){
                        $('form').submit();
                    }
                    else {
                        $('#title').after('<div class="alert alert-danger fade show" id="title-alert"'+
                        'role="alert">Can\'t have duplicate quiz title :(</div>');
                        setTimeout(function(){$("#title-alert").alert('close');}, 5000);
                    }
                },
                error: function (response) {}
            });
        })
    </script>
  </body>
</html>
