<!doctype html>
<html lang="en">

{% load static %}
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" 
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />

    

    <link rel="stylesheet" href="{% static 'feed/feed.css' %}">
    

    <title>News Feed</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #ff5454;">
      <a class="navbar-brand" href="{% url 'feed_detail' %}">
        <img src="{% static 'feed/quizup1.png' %}" width="96" height="30" class="d-inline-block align-top" alt="" loading="lazy">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" 
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'feed_detail' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'my_profile_detail' player_info.0 %}">Profile</a>
          </li>
           <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Topics<span class="sr-only">(current)</span>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              {% for topic in topics %}
                  <a class="dropdown-item" href="{% url "topic_detail" topic.0%}">{{ topic.1 }}</a>
              {% endfor %}
            </div>
          </li>
        </ul>
        <ul class="navbar-nav navbar-right">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
          </li>
        </ul>
      </div>
    </nav>
    
    <div class="Feed">

      <div class="sidebar">
        <div class="mini-profile">
          <a href="{% url 'my_profile_detail' player_info.0 %}">
          <img src="{% get_media_prefix %}{{ player_info.1 }}" alt="dp error" height="64px" width="64px" id="dp">
          </a>
          <a href="{% url 'my_profile_detail' player_info.0 %}" id="user" >{{ player_info.2 }}</a>
          
        </div>  

        <div class="followinf">
          
          <div class="follower_info">
            Followers <br>
            <p onclick="unhide(follower_list)" class="dropbtn" 
            style="margin: 0; font-size: larger; font-weight: 600; color: #02d174; cursor: pointer;"
              > {{ followers }} </p>

              <div id="follower_list" class="dropdown-content">
                  {% for follower in follower_info %}
                    {% if follower.1 != '-' %}
                        <img src="{% get_media_prefix %}{{ follower.1 }}" alt="" height="32px" width="32px" style="border-radius: 50%;">
                        <a href="{% url 'my_profile_detail' follower.0 %}" style="color: #ff5454; padding-left: 12px;">
                            {{ follower.0}}</a>
                        <hr style="margin: 8px 12px 8px 0px;">
                      {% endif %}
                {% endfor %}
      
              </div>
            
          </div>

          <div class="following_info">
            Following <br>
            <p onclick="unhide(following_list)" class="dropbtn" 
            style="margin: 0; font-size: larger; font-weight: 600; color: #00b5d9; cursor: pointer;"
              > {{ followees }} </p>

              <div id="following_list" class="dropdown-content">
                <!-- LOOP -->
                {% for followee in followee_info %}
                    {% if followee.1 != '-' %}
                        <img src="{% get_media_prefix %}{{ followee.1 }}" alt="" height="32px" width="32px" style="border-radius: 50%;">
                        <a href="{% url 'my_profile_detail' followee.0 %}" style="color: #ff5454; padding-left: 12px;">
                            {{ followee.0}}</a>

                        <hr style="margin: 8px 12px 8px 0px;">
                    {% endif %}
                {% endfor %}
      
              </div>
          </div>

          
        </div> 
        
        <div class="followed_topics">
          <p style="padding: 8px 0px 0px 8px; font-size: 30px; font-weight: 700; color: #ff5454;">
            Followed Topics
          </p>

          <hr style="margin: 16px;">
          <!--LOOP FOLLOWED TOPICS-->
            {% for topic in followed_topics %}
                {% if topic.0 != 'None' %}
                  <div class="topic_detail">
                    <a href="{% url 'topic_detail' topic.2 %}">
                    <img src="{% static topic.1 %}" alt="" style="height: 70px; width: 70px; border-radius: 12.5%;">
                   </a>
                    <a href="{% url 'topic_detail' topic.2 %}" style="color: #ff5454; font-size: large; font-weight: bold;">
                        {{ topic.0 }}
                    </a>

                  </div>
                {% endif %}
            {% endfor %}
          <!--ENDLOOP-->

        </div>

        <div class="global_leaderboard" style="background-color: white; box-shadow: -4px 4px 3px grey; ">
          <p style="padding-top: 16px; font: bold 30px Arial, sans serif; color:  #ff5454; text-align: center; "> Leaderboard </p>
          <table class="table table-striped">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Position</th>
                <th scope="col">Player</th>
                <th scope="col">Player Rank</th>
              </tr>
            </thead>
            <tbody>
            {% for player in leaderboard %}
              <tr>
                <th scope="row">{{ player.2 }}</th>
                <td><a href="{% url 'my_profile_detail' player.0 %}" style="color: black;">{{ player.0 }}</a></td>
                <td>{{ player.1 }}</td>
              </tr>
            {% endfor %}
              
            </tbody>
          </table>

        </div>

      
      </div>
      
      <div class="news">
          <div class="post" style="width: 580px;">
            <form id="post_form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
                <textarea name="post" id="" cols="75" rows="6" placeholder="What's Up?" 
                          style="border-color: transparent; outline-color: transparent; padding: 15px 15px; border-radius: 3mm;" required></textarea>
                
                <svg width="2.5em" height="2.5em" viewBox="0 0 16 16" class="bi bi-camera-fill" fill="currentColor" 
                            xmlns="http://www.w3.org/2000/svg" onclick="fileclick()" style="cursor: pointer;">
                            <path d="M10.5 8.5a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                            <path fill-rule="evenodd" d="M2 4a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-1.172a2 
                            2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 9.172 2H6.828a2 2 0 0 0-1.414.586l-.828.828A2 2 0 0 1 3.172 4H2zm.5
                             2a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1zm9 2.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0z"/>
                </svg>          
                
                <input type="file" id="post_img" name="post_img"  accept="image/*"  hidden>
                <button type="submit" class="btn btn-danger" style="float: right;">Post</button>

               <div class="selector" style="float: right;"> 
                <select class="selectpicker" multiple id="Topics" name="Topics" form="post_form">
                  <!--LOOP TOPICS-->
                    {%  for topic in topics %}
                          <option> {{ topic.1 }}</option>
                    {%  endfor %}
                </select>
              </div>  

            
            </form> 
          </div>
          <!-- ALL POSTS  -->

      {% for post in all_posts_list %}
          <div class="view_post">
            <div class="post_info" style="margin: 15px 15px; height: 80px;">
              
              <div class="post_dp">

                <a href="{% url 'my_profile_detail' post.0 %}">
                <img src="{% get_media_prefix %}{{ post.1 }}" alt="" height="48px" width="48px"
                style="border-radius: 50%; float: left; margin: 12px 12px;">
                </a>

              </div>

              <div class="post_username"> 
                  <a href="{% url 'my_profile_detail' post.0 %}" style="color: black;"> {{ post.0 }}</a>
              </div>
                <div>
                    <p style="color: grey; font-size: 14px;">
                        {{ post.6}}
                    </p>
                </div>
            </div>
            <p class ="post_txt" >
              {{ post.4 }}
            </p>
            
            {% if post.5 != None %}
                <div class="show_img">
                  <img src="{% get_media_prefix %}{{ post.5 }}" alt=" " style = "max-height: 530px; width: 578px;"  id="img_post" onerror="remove()">
                </div>
           {% endif %}

              <hr style="margin: 16px 16px 16px;">

              <div class="post_react" style="margin: 16px 16px; height: 42px;">
                
                <form style="width: fit-content; float: left;">{% csrf_token %}
                  <input type="button" class="btn btn-danger btn-small" id="btn_like{{ post.2 }}"  value= {{ post.9 }} post_id = {{ post.2 }}>
                </form>
                 
                <b>&nbsp</b>  
                
                <a href="{% url 'post_detail' post.2 %}">
                <button class="btn btn-danger btn-small" id="btn_comment" >Comment</button>  
                </a>    

                    <div class="react_count" style="float: right;">
                      <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-heart-fill" fill="red" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                      </svg>
                      
                      <b id="like_count{{ post.2 }}"> {{ post.7 }} </b>
                      
                      <b>&nbsp</b>

                      <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chat-dots-fill" fill="red" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M16 8c0 3.866-3.582 7-8 7a9.06 9.06 0 0 1-2.347-.306c-.584.296-1.925.864-4.181 1.234-.2.032-.352-.176-.273-.362.354-.836.674-1.95.77-2.966C.744 11.37 0 9.76 0 8c0-3.866 3.582-7 8-7s8 3.134 8 7zM5 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                      </svg>
                      
                      <b id="comment_count"> {{ post.8 }} </b>
                    </div>
              </div>
          </div>
      {% endfor %}
          
      </div>
      
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>

  
    <script>

    function fileclick() {
      document.getElementById("post_img").click();
    }

    $('select').selectpicker();

    function unhide(id) {
        var list = id;
        if (list.style.display != "block"){
          list.style.display = "block";
          
        }
        else {
          
          //console.log(follower_list.style.display);
          list.style.display = "none";
        }
  
      }
  
      // Lists go away if clicked anywhere else in the window
      window.onclick = function (event) {
        if (!event.target.matches('.dropbtn')) {
          var dropdowns = document.getElementsByClassName("dropdown-content");
          var i;
          for (i = 0; i < dropdowns.length; i++) {
            var openDropdown = dropdowns[i];
            if (openDropdown.style.display == 'block') {
              openDropdown.style.display = 'none';
            }
          }
        }
      }
    {% for post in all_posts_list %}
            $('#btn_like{{ post.2 }}').click(function () {

                var is_liked = $(this).val();
                var post_id = $(this).attr("post_id");
                var like_count = $('#like_count{{ post.2 }}').html();
                console.log(like_count);

                console.log("post id is: " + post_id);

                $.ajax({
                    type: 'POST',
                    url: '{% url 'update_like' %}',
                    data: {
                        'post_id': post_id,
                        'is_liked': is_liked,
                        'like_count': like_count,
                        'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
                    },
                    dataType: 'json',
                    success: function (response) {
                        $('#btn_like{{ post.2 }}').val(response['is_liked']);
                        $('#like_count{{ post.2 }}').html(response['like_count'])
                    },
                    error: function (response) {
                    }
                });
            });

            $('#btn_like{{ post.2 }}').mouseenter(function () {
            var btn = document.getElementById("btn_like{{ post.2 }}");
               if (btn.value == "Liked"){
                   btn.value = "Dislike";
               }

             });

            $('#btn_like{{ post.2 }}').mouseleave(function () {
                    var btn = document.getElementById("btn_like{{ post.2 }}");
                   if (btn.value == "Dislike"){
                       btn.value = "Liked";
                   }

            });



        {% endfor %}
    </script>



  </body>
</html>
