<!doctype html>
<html lang="en">
{% load static %}
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <link rel="stylesheet" href= "{% static 'post/post.css' %}">


    <title>Post</title>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #ff5454;">
      <a class="navbar-brand" href="{% url 'feed_detail' %}">
        <img src="{% static 'post/quizup1.png' %}" width="96" height="30" class="d-inline-block align-top" alt="" loading="lazy">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'feed_detail' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'my_profile_detail' player_in_session_name %}">Profile</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Topics<span class="sr-only">(current)</span>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              {% for topic in topics %}
                  <a class="dropdown-item" href="{% url "topic_detail" topic.0%}">{{ topic.1 }}</a>
              {% endfor %}
            </div>
          </li>
        </ul>
        <ul class="navbar-nav navbar-right">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
          </li>
        </ul>
      </div>
    </nav>


      <div class="view_post"> 
        <div class="post_info" style="margin: 15px 5px; height: 80px;">

          <div class="post_dp">
            <a href="{% url 'my_profile_detail' post_info.0 %}"><img src="{% get_media_prefix %}{{ post_info.1 }}" alt="" height="48px" width="48px"
              style="border-radius: 50%; float: left; margin: 12px 12px; height: 100%;"></a>
          </div>

          <div class="post_username" style="padding-top: 12px; font-weight: 500; font-size: large;">
              <a href="{% url 'my_profile_detail' post_info.0 %}" style="color: black; font-weight: 600;"> {{ post_info.0 }}</a>
          </div>
          <div>
            <p style="color: grey; font-size: 14px;">
                {{ post_info.4 }}
            </p>
        </div>

        </div>

        <p class ="post_txt" style="padding-left: 12px; padding-right: 12px;">
            {{ post_info.2 }}<br>
             {% if post_info.6 is not None %}
                {% for tag in post_info.6 %}
                    <b style="padding-bottom: 8px; font-size: 20px ;color: #ff5454">#{{ tag }} </b>
                {% endfor %}
            {% endif %}
        </p>

       
        {% if post_info.3 != None %}
            <div class="show_img">
              <img src="{% get_media_prefix %}{{ post_info.3 }}" alt=" " style = "max-height: 680px; width: 610px;"  id="img_post" onerror="remove()">
            </div>
       {% endif %}

        <hr style="margin: 16px 16px 16px;">

        <div class="post_react" style="margin: 16px 16px; height: 42px;">

            <!--button class="btn btn-danger btn-small" id="btn_like" onclick="like()" >Like</button-->

            <form style="width: fit-content; float: left;">{% csrf_token %}
                    <input type="button" class="btn btn-danger btn-small" id="btn_like{{ post_info.5 }}"  value={{ post_info.7 }} post_id= {{ post_info.5 }} >

                </form>
            <div class="react_count" style="float: right;">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-heart-fill" fill="red" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                </svg>

                <b id="like_count" class = 'dropbtn' onclick="unhide(like_list)" style="cursor: pointer;"> {{ react_count.0 }} </b>

                <div id="like_list" class="dropdown-content" >
                  <!-- LOOP -->
                    {% for liker in like_list %}
                          <a href="{% url 'my_profile_detail' liker.0 %}"><img src="{% get_media_prefix %}{{ liker.1 }}" alt="" height="32px" width="32px" style="border-radius: 50%;"></a>
                          <a href="{% url 'my_profile_detail' liker.0 %}" style="color: #ff5454; padding-left: 12px;"> {{ liker.0 }}</a>
                          <hr style="margin: 8px 12px 8px 0px;">
                  {% endfor %}
        
        
                </div>

                <b>&nbsp</b>

                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chat-dots-fill" fill="red" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M16 8c0 3.866-3.582 7-8 7a9.06 9.06 0 0 1-2.347-.306c-.584.296-1.925.864-4.181 1.234-.2.032-.352-.176-.273-.362.354-.836.674-1.95.77-2.966C.744 11.37 0 9.76 0 8c0-3.866 3.582-7 8-7s8 3.134 8 7zM5 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                </svg>

                <b id="comment_count">{{ react_count.1 }} </b>
            </div>

        </div>

      </div>  
<!-- 
        <hr style="height: 10px; " color="#8c8c8c"> -->

      <div class="comments">

        <!--Loop-->
        {% for comment in comments %}
              <div class="comment_dp">
                  <a href="{% url 'my_profile_detail' comment.0 %}"><img src="{% get_media_prefix %}{{ comment.1 }}" alt="" height="48px" width="48px"
                    style="border-radius: 50%; float: left; margin: 6px 12px;"></a>
              </div>

              <div class="old_comment_user">
                  <a href="{% url 'my_profile_detail' comment.0 %}" style="color: black; font-weight: 600;"> {{ comment.0 }}</a>
                  <p style="color: grey; font-size: 14px;"> {{ comment.3 }}</p>
              </div>

              <div class="comment_text" style="margin: 2px 2px 2px 72px;
                 max-width: 348px; background-color: #eeeeee; width: fit-content;height: fit-content;
                 padding: 8px 12px; border-radius: 5mm;">
                  <p style="margin-bottom: 0px">{{ comment.2}}</p>
              </div>

              <!--div class="comment_react" style="margin: 4px 0px 4px 78px">

                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-heart-fill" fill="red" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z" >
                    </svg>


                  <b id="react_count"> 3 </b>

                  <button class="btn btn-link" id="like_btn" style="padding-top: 0%; color: #e62e00;" onclick="cmnt_liked()">Like</button>

              </div-->

                <hr style="height: 4px; color: #8c8c8c; margin: 16px 12px;">

            <!--ENDLOOP-->
            {% endfor %}
            <div class="my_comment">

              <div class="my_dp">
                <img src="{% get_media_prefix %}{{ my_dp }}" alt="" height="48px" width="48px"
                style="border-radius: 50%; float: left; margin: 6px 12px;">

              </div>

              <form method= "post" >{% csrf_token %}

                <!--input type="text" aria-colcount="43" aria-rowcount="3" placeholder="Write a comment..."
                 style="border-color: transparent; background-color: #d9d9d9; border-radius: 5mm; padding: 10px 10px;" required-->
                
                 <textarea name="comment" id="txt_area" cols="43" rows="3" 
                 style="border-color: transparent; background-color: #eeeeee; border-radius: 5mm; padding: 10px 10px;"
                 placeholder="Write a comment..."  required></textarea>
                 
                <button type="submit" class="btn btn-sm btn-danger" style="margin-left: 8px; margin-bottom: 24px; ">Comment</button>
              
              </form>

            </div>


        </div>

    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

<script>
  function remove(){
    console.log("In Image click");

    document.getElementById("img_post").style.display = 'none';
    /*if(document.getElementById("img_post").style.display == 'none'){

      document.getElementById("img_post").style.display = 'block';

    }
    else{
      document.getElementById("img_post").style.display = 'none';
    } */
  }

  function like(){

      var elem = document.getElementById("btn_like");
      var like_cnt = document.getElementById("like_count");
      var like_no = parseInt(like_cnt.innerHTML);

      if (elem.innerHTML == "Like") {
          elem.innerHTML = "Liked";
          elem.style.borderColor = "brown";
          elem.style.borderWidth = "3px";

          like_cnt.innerHTML = like_no + 1;
      }

      else {
          elem.innerHTML = "Like";
          elem.style.borderColor = "transparent";
          elem.style.borderWidth = "1px";


          like_cnt.innerHTML = like_no - 1;

      }
  }

  function cmnt_liked(){
            
    let like_btn = document.getElementById("like_btn");
    let react = document.getElementById("react_count");
    let react_cnt = parseInt(react.innerHTML);

    if (like_btn.innerHTML == "Like") {

        like_btn.innerHTML = "Liked";                     
        react.innerHTML = react_cnt + 1;

    }

    else {
        like_btn.innerHTML = "Like";
        react.innerHTML = react_cnt - 1;

    }


}

  function unhide(id) {
    var list = id;
    console.log("Hello");
    if (list.style.display != "block"){
      console.log(list.style.display);
      list.style.display = "block";
      console.log(list.style.display);
      
    }
    else {
      
      //console.log(follower_list.style.display);
      list.style.display = "none";
    }

  }
      
          // Lists go away if clicked anywhere else in the window
  window.onclick = function (event) {
    if (!event.target.matches('.dropbtn')) {
      var dropdowns = document.getElementsByClassName("dropdown-content");
      var i;
      for (i = 0; i < dropdowns.length; i++) {
        var openDropdown = dropdowns[i];
        if (openDropdown.style.display == 'block') {
          openDropdown.style.display = 'none';
        }
      }
    }
  }




  $('#btn_like{{ post_info.5 }}').click(function () {

                var is_liked = $(this).val();
                var post_id = $(this).attr("post_id");
                var like_count = $('#like_count').html();
                console.log(like_count);

                console.log("post id is: " + post_id);

                $.ajax({
                    type: 'POST',
                    url: '{% url 'update_like' %}',
                    data: {
                        'post_id': post_id,
                        'is_liked': is_liked,
                        'like_count': like_count,
                        'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
                    },
                    dataType: 'json',
                    success: function (response) {
                        $('#btn_like{{ post_info.5 }}').val(response['is_liked']);
                        $('#like_count').html(response['like_count'])
                    },
                    error: function (response) {
                    }
                });
            });

            $('#btn_like{{ post_info.5 }}').mouseenter(function () {
            var btn = document.getElementById("btn_like{{ post_info.5 }}");
               if (btn.value == "Liked"){
                   btn.value = "Dislike";
               }

        });
            $('#btn_like{{ post_info.5 }}').mouseleave(function () {
                    var btn = document.getElementById("btn_like{{ post_info.5 }}");
                   if (btn.value == "Dislike"){
                       btn.value = "Liked";
                   }

            });

</script>



  </body>

