
body{
    background-color:  #eeeeee;
}

.view_post{

    margin: 32px 650px 16px 256px;
    padding-bottom: 1px;
    width: 610px;
    background-color: white;

}

.comments{

    margin: 8px 650px 16px 256px;
    padding-top: 12px;
    width: 610px;
    background-color: white;

}

.dropdown-content{

    position: absolute;  /* comes on top of background element */
    max-height: 200px;
    overflow: scroll;
    min-width: 240px; background-color: white; 
    border:1px solid #b3b3b3; 
    margin-top: 10px; 
    text-align: left; 
    padding-left: 10px;padding-top: 10px; 
    display: none; 
    box-shadow: -4px 4px 3px grey;

}


/* .view_post:hover{
    border-color: rgba(192, 55, 55, 0.98);
} */

#txt_area:focus{
    outline: none;
}